body {
    background-image: url(img/fon.jpg);
    color: #333333;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    font-family:Arial;
}
.knopka {
    border: 1px solid #4800ff;
    display: inline-block;
    padding: 5px 15px;
    text-decoration:none;
    color:#000;
}