body {
    background-image: url(img/fon.jpg);
    color: #333333;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    font-family:Arial;
}
.knopka {
    border: 1px solid #4800ff;
    display: inline-block;
    padding: 5px 15px;
    text-decoration:none;
    color:#000;
}

header {
    background:lightblue;
}

.container {
    max-width: 1000px; /*960-1200*/
}

.flex-row {
    display: flex;
    flex-direction:row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-1 
{
    flex: 10%;
}
